.add-icon {
    font-size: 3em; 
    position:fixed; 
    bottom:20px; 
    left: 20px
}
input {
    width:100%;
}
#newValue{
    display: none;
    width: 100%;
}
.icons {
    text-align: center;
}
.doneItem {
    text-decoration: line-through;
}
.justify {
    justify-items: flex-start;
}
.flex-width {
    position: relative;
    width:200%;
    margin: 0;
}
.todoswitch {
    text-align: center;
    font-size: 32px;
}
@media (min-width:576px){
    .todoswitch {
        display: none;
    }
    .flex-width{
        width: 100%;
    }
}
@media (min-width: 768px){
    .add-icon{
        display:none;
    }
    #newValue{
        display: block;
    }
}
.list-group-item:hover {
    background-color: gray;
}